{% extends 'pots/pots_container.html' %}
{% load form_style %}

{% block container %}

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="title_modal">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'pots:index' %}" method="post">
                        {% csrf_token %}
                        {{form.id}}
                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}" class="bmd-label-floating">Nombre</label>
                            {{ form.name|add_css:'form-control' }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.owner.id_for_label }}" class="bmd-label-floating">Dueño</label>
                            {{ form.owner|add_css:'form-control' }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block round">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Dueño</th>
                    <th>Solicitudes</th>
                    <th>Observadores</th>
                </tr>
            </thead>
            <tbody>
            {% for pot in pots %}
            <tr>
                <td>
                    <button data-toggle="tooltip" title="Copiar ID al portapapeles" class="btn btn-default nope"
                            id="button{{ forloop.counter0 }}" value="{{pot.id}}">
                        <span class="glyphicon glyphicon-copy"></span>
                    </button>
                </td>
                <td class="column{{ forloop.counter0 }}" data-toggle="modal" data-target="#myModal">{{ pot.name }}</td>
                <td class="column{{ forloop.counter0 }}" data-toggle="modal" data-target="#myModal">{{ pot.owner }}</td>
                <td class="column{{ forloop.counter0 }}" data-toggle="modal" data-target="#myModal">{{ pot.requests }}</td>
                <td class="column{{ forloop.counter0 }}" data-toggle="modal" data-target="#myModal">{{ pot.watchers }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block jcode%}

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    {% for pot in pots %}
        $(".column{{ forloop.counter0 }}").click(function() {
            $('#title_modal').html("{{ pot|dict_get:'name' }}");
            $('#{{ form.id.id_for_label }}').val("{{ pot|dict_get:'id' }}");
            $('#{{ form.name.id_for_label }}').val("{{ pot|dict_get:'name' }}");
            $('#{{ form.owner.id_for_label }}').val("{{ pot|dict_get:'owner' }}");
        });

        $("#button{{ forloop.counter0 }}").click(function() {
            var aux = document.createElement("input");
            aux.setAttribute("value", $("#button{{ forloop.counter0 }}").val());
            document.body.appendChild(aux);
            aux.select();
            document.execCommand("copy");

            document.body.removeChild(aux);
        });
    {% endfor %}


{% endblock %}
