{% extends 'users/container.html' %}
{% load form_style %}

{% block container %}
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="title_modal">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'users:index' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.id}}
                        <input type="hidden" name="next" value="{{ request.get_full_path }}">
                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}" class="bmd-label-floating">Nombre</label>
                            {{ form.name|add_css:'form-control' }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.nickname.id_for_label }}" class="bmd-label-floating">Cuenta</label>
                            {{ form.nickname|add_css:'form-control' }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.avatar.id_for_label }}" class="bmd-label-floating">Avatar</label>
                            {{ form.avatar|add_css:'form-control' }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password.id_for_label }}" class="bmd-label-floating">Contraseña nueva</label>
                            {{ form.password|add_css:'form-control' }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block round">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Correo</th>
                    <th>Nombre</th>
                    <th>Cuenta</th>
                    <th>Avatar</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <button data-toggle="tooltip" title="Copiar ID al portapapeles" class="btn btn-default nope"
                            id="button{{ forloop.counter0 }}" value="{{user.ID}}">
                        <span class="glyphicon glyphicon-copy"></span>
                    </button>
                </td>
                <td class="column{{ forloop.counter0 }}" data-toggle="modal" data-target="#myModal">{{ user.mail }}</td>
                <td class="column{{ forloop.counter0 }}" data-toggle="modal" data-target="#myModal">{{ user.name }}</td>
                <td class="column{{ forloop.counter0 }}" data-toggle="modal" data-target="#myModal">{{ user.nickname }}</td>
                <td class="column{{ forloop.counter0 }}" data-toggle="modal" data-target="#myModal">{{ user.avatar }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block jcode%}

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    {% for user in users %}
        $(".column{{ forloop.counter0 }}").click(function() {
            $('#title_modal').html("{{ user|dict_get:'mail' }}");
            $('#{{ form.id.id_for_label }}').val("{{ user|dict_get:'id' }}");
            $('#{{ form.name.id_for_label }}').val("{{ user|dict_get:'name' }}");
            $('#{{ form.nickname.id_for_label }}').val("{{ user|dict_get:'nickname' }}");
            $('#{{ form.avatar.id_for_label }}').val("{{ user|dict_get:'avatar' }}");
        });

        $("#button{{ forloop.counter0 }}").click(function() {
            var aux = document.createElement("input");
            aux.setAttribute("value", $("#button{{ forloop.counter0 }}").val());
            document.body.appendChild(aux);
            aux.select();
            document.execCommand("copy");

            document.body.removeChild(aux);
        });
    {% endfor %}

{% endblock %}